
{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

<title>Welcome to Restaurant City</title>
{% endblock %}

{% block body %}
<div class="content">

    <h1 style="text-align: center"class="display-4">Welcome to Affame</h1>
    {% if restaurantList|length < 1 %}
    <h4 style="text-align: center"class="display-4">Make Reservations Here!</h4>
    <h3 style="text-align: center"class="display-4">The following restaurants here are available!</h3>
    {% else %}
    <div id="main-container" class="container">
    <table class='table table-striped' border='1'>
    <thead class='thead-dark'>
        <tr>
            <th>Restaurant Image</th>
            <th>Restaurant Name</th>
            <th>Restaurant Description</th>
            <th>Location</th>
            <th>Rating</th>
            <th>Branch</th>
            <th>Make reservation</th>
        </tr>
        
        {% for data in restaurantList["restaurant"] %}
            <tr>
                <td><img src= "/static/restaurantImage/{{data.image}}" width = '128' height = '128' ></td>
                <td>{{ data.name }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.location }}</td>
                <td>{{ data.rating }}</td>
                <td>{{ data.branch }}</td>
                <td><a href= "/reserve/{{data.restaurantID}}/{{customerID}}"class = 'btn btn-primary' >Reserve</a></td>
            </tr>
        {% endfor %}
    </thead>
    </table>
    </div>
    <a href = "./restaurant_notifications.html" class ='btn btn-primary' >View notifications<a href>
    {% endif %}

    
</div>
{% endblock %}